<splash-page videoreq="True" pagetitle="ABOUT"> </splash-page>
<!--<center-pic linkingreq="true" linking-page="design" headingreq="true" heading="Design Features" headingcaption="Enter a suitable caption" img="resources/img/graphics/treehaus_logo.jpg" imgcaption="Click to know more"></center-pic>-->
<left-right-text-pic linkingreq="false" text-flex="4" img-flex="1" headingreq="true" heading="INSPIRATION" headingcaption="{{solarDecathlonText}}" img="resources/img/graphics/solar_decathlon.gif"></left-right-text-pic>
<!--<left-right-text-pic name="initiationHolder" text-flex="3" img-flex="8" reverseimgholder="False" linkingreq="false" headingreq="true" heading="CONCEPT" headingcaption="{{initiationText}}" img="resources/img/graphics/treehaus_logo.jpg"></left-right-text-pic>-->
<center-pic linkingreq="true" linking-page="treehaus" headingreq="true" heading="CONCEPT" headingcaption="{{initiationText}}" img="resources/img/graphics/treehaus_logo.jpg" imgcaption="Click to know more"></center-pic>
<!--<center-text text={{abouttext}} headingreq='true' headingtext="THE CONCEPT"></center-text>-->
<!--<timeline headtext="Timeline" headnarrative={{timelineNarrative}} timelineobj="{{timelineObjects}}" ></timeline>-->
<!--<center-pic grey-background="true" linkingreq="true" linking-page="team" headingreq="true" heading="TEAM" headingcaption="{{abouttext}}" img="resources/img/team/team1.jpg" imgcaption="Click to know more"></center-pic>-->
<center-pic linkingreq="true" linking-page="design" headingreq="true" heading="Design Features" headingcaption="" img="resources/img/graphics/floorplan1.png" imgcaption="Click to know more"></center-pic>
<partnerships container-sections="{{partnershipInfo}}"></partnerships>
<partnerships container-sections="{{awardsInfo}}"></partnerships>
<team-page></team-page>
<footer-page></footer-page>