<splash-page pagetitle="ADMIN" img-link="../../../resources/img/headers/developer.png" num-images="1"></splash-page>
<!--<opportunity-zone-map></opportunity-zone-map>-->
<dev-form class-name="areaReq" button-hit="showAreaInfo" section-visibility="visible" headingreq="True" heading-text="{{areaText}}" heading="DEVELOPER OPTIONS" query-list="{{introductoryList}}"></dev-form>
<dev-form class-name="roomReq" button-hit="showBuildInfo" section-visibility="hidden" headingreq="False" heading-text="{{developerText}}" heading="DEVELOPER OPTIONS" query-list="{{queryList}}"></dev-form>
<footer-page></footer-page>