<splash-page pagetitle="FLOOR PLANS" img-link="../../../resources/img/headers/floorplans.png" num-images="1"></splash-page>
<center-pic linkingreq="false" headingreq="true" heading="1 BEDROOM" img="resources/img/floorplans/A.PNG" imgcaption="Floor Price: $650"></center-pic>
<center-pic linkingreq="false" headingreq="true" heading="2 BEDROOM" img="resources/img/floorplans/B.PNG" imgcaption="Floor Price: $1025"></center-pic>
<center-pic linkingreq="false" headingreq="true" heading="3 BEDROOM" img="resources/img/floorplans/C.PNG" imgcaption="Floor Price: $1500"></center-pic>
<center-pic linkingreq="false" headingreq="true" heading="4 BEDROOM" img="resources/img/floorplans/D.PNG" imgcaption="Floor Price: $1625"></center-pic>
<footer-page></footer-page>