<section >
    <div class="Acontainer">
        <img src = "assets/pics/forest-color.png" class="background-img">
        <div class = "flex"></div>



        <!--<form action="/action_page.php">-->
        <form>
            <h2>Registration Form</h2>

            <div class="container">
                <div>
                    <span>
                        <label><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" ng-model="vm.uName" required>
                    </span>

                    <span>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" ng-model="vm.pwd" required>
                    </span>
                </div>
                <button type="submit" id="registerBtn">Register</button>
            </div>


        </form>

        <div class = "flex"></div>















        <!--<a style="cursor:pointer;" id="checkTest" ng-click = "vm.getResponse()"> Click Here </a>-->

        <!--<input type="text" ng-model="firstName" class="getup nameBox" >-->
        <!--</md-input-container>-->
        <!--</md-content>-->

        <!--<p style="color:white;" class="getup" > {{firstName}} </p>-->

        <!--<layout-template class="layout_temp_name" name="Arjun" footer="foot123"></layout-template>-->
    </div>
</section>