.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 330px;
    height: 330px;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.team-column-padding{
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}