<splash-page pagetitle="SOLAR DECATHLON" img-link="../../../resources/img/headers/design.png" num-images="1"></splash-page>
<center-text grey-background="true" text={{abouttext}} headingreq='true' headingtext="THE COMPETITION"></center-text>
<img-thumbnails heading="DESIGN ASPECTS" heading-text="" thumbnails-info={{thumbnailsInfo}}></img-thumbnails>
<text-pic-description grey-background="true" text-img-info={{textImgInfo}} headingreq="true" heading="DESIGN GOALS" headingtext=""></text-pic-description>

<footer-page></footer-page>