<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.6544574384607!2d-80.42294804894311!3d37.20843597976765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDEyJzMwLjQiTiA4MMKwMjUnMTQuNyJX!5e0!3m2!1sen!2sus!4v1554305628627!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br>
    </div>
</section>
<footer class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Ecologic 2019</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/treeha_us">
                            <i class="fab fa-twitter logoMargin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com/VTreeHAUS">
                            <i class="fab fa-facebook-f logoMargin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com/treeha.us">
                            <i class="fab fa-instagram logoMargin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a ui-sref="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>